*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    width: 100%; 
    overflow-x: hidden; 

}
header{
    width: 100%;
    /* box-shadow: 0px 4px rgb(212, 212, 212); */
    box-shadow: 0px 8px rgb(158, 154, 154); 
}

.head{
    display: flex;
    justify-content: space-between; 
    
    width: 80%;
    margin-left: auto;
    margin-right: auto;
   
}

.logo-image img{
    width: 150px;

}
.navbar ul{
    display: flex;
    justify-content: space-between;
    gap: 28px;


} 
.navbar ul li {  
    margin-top: 20px;
    list-style: none; 
    margin-right: 10px;
}
.navbar ul li a  {
    text-decoration: none;
    color: black;
    font-size: 20px;

}
.ending{
    display: flex;   
   
}

.navbar ul li button{
    padding: 10%; 
    background-color: rgb(214, 2, 2);
    color: white;
    border-radius: 14px;
    border: none;
    width: 90px;


}
/* section la petite histoire */
 #part2{
    
    /* height: 700px; */
 }
 .back{
    
 }
.big-one{
    margin-top: 2%;
    color: rgb(214, 2, 2);
    font-size: 30px;
    text-align: center;

}
.title-1 h1{
   
}
.h-title{
    margin: 10%;
    display: flex;
    justify-content: space-between;
}

.history-h{
    border:1px solid #cc0000;
    padding: 7%;
    width: 50%;
    height: 53px;
    border-radius:  0px 0px 100px 0;
    color: #fff;
    background-color: rgb(214, 2, 2);
    box-shadow:  0 10px  rgb(212, 98, 136), 0 30px rgb(197, 140, 158);

    
}
.history-h p{
    font-size: 33px;
    margin-top: -10%;
}
.history-p{
    width: 35%;
}
.white-p p{
    width: 40%;
}
.white-p{
    font-size: 15px;
    background-color: #ffffff;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 10px;
     width: 22%; 
    height: 50%;
    right: 191px;
    top: 280px;
    position: absolute;
    z-index: 1;

}
.red-page{
     font-size: 15px;
    position: absolute;
    background-color: rgb(214, 2, 2);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    width: 25%;
    transform: rotate(5deg);
    -webkit-transform-origin: 100% 100%;
    margin-right: 15px;
    height: 44%; 
    z-index: 1;
    margin-bottom: 50px;

}
.pied-history{
    margin-bottom: 18%;
    margin-left: 40px;
}
.pied-history .b{
position: absolute;
margin-top: 50px;
background-color: #cc0000;
flex-direction:column ;
width: 8px;
height: 9px;
border-radius: 15px;
margin-left: 700px;
} 
.pied-history .c{
margin: 9%;
position: absolute;
margin-top: 50px;
background-color: #cc0000;
flex-direction:column ;
width: 40px;
height: 10px;
border-radius: 25px;
margin-left: 750px;
}
.pied-history .a{
    margin: 9%;
    position: absolute;
    background-color: #cc0000;
    flex-direction:column ;
    width: 8px;
    height: 9px;
    border-radius: 15px;
    margin-left: 730px;
    margin-top: 50px; 
} 



/* section pedag */
#pedag{
    justify-content: space-evenly;
}

.title-2{
    margin: 10%;
    color: rgb(214, 2, 2);
    text-align: center;
    font-size: 25px;
}
.contenair-pedag{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin: 5%;
    
}
.video-place{
    text-align: center;
    
}
.peda-erea{
    
}
.peda-erea h1{
    color: rgb(214, 2, 2);
    margin: 10px;
}
.peda-erea p{
    text-align: center;
    width: 90%;

   
} */

/* section pilier */
#plier{
    width: 100%;
    text-align: center;
}
.for-centré{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
   
}
.title-plr h2{
    margin: 6%;
    color: rgb(214, 2, 2);
    font-size: 42px;
}

.plier-container{
    display: flex;
    justify-content: space-evenly;
    margin: 3%;
    
}
.grid-pg{
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(3, 200px);
    gap: 20Px;
    width: 50%;
    
    
    
}
.cell{
    width: 80%;
    border-bottom: 4px solid rgb(216, 2, 2);
    background-color: #fff;
    margin-top: 5px;
    box-shadow: 0px 0px 2px 2px beige;
    
}
.cell h1{
    color: rgb(214, 2, 2);
    text-align: center;
    margin-top: px;
}
.back-pilier{
    position: relative;
}
.back-p{
    width: 480px;
    height: 553px;
    align-items: center;
    border-radius: 12px;
    background-color: rgb(214, 2, 2);
    margin-left: 5%;
    margin-top: 30px ;
    padding: 10%;

}
.pilier-image img{
     width: 450px;
     height: 600px;
     margin: 12px ;
     align-items: center;
     border-radius: 12px;
     margin-top: -540px ;
     
}
#valeur{
    width: 100%;
}
.valeur-center{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.valeur-h{

    color: rgb(214, 2, 2);
    text-align: center;
    font-size: 30px;
}
 .valeur-cnt {
    display: flex;
    justify-content: space-between;  
 } 
 .right-side {
     margin-left:8%;
      margin-top: 15%; 
      width: 70%;
 }
 .right-side h1{
    margin-left: 3%;
    color: rgb(214, 2, 2);
    font-size: 30px;
 }
 .right-side p {
    width: 80%;
 }
 .right-side button{
    margin: 15%;
    padding: 20px;
    width: 98px;
    border-radius: 15px;
    border: none;
    background-color: rgb(214, 2, 2);
    color: white;
 }
 .second-grid{
    
    display: grid;
    grid-template-columns: repeat(1, 500px);
    grid-template-rows: repeat(4, 150px);
    gap: 20px;
    background-color: white;
    margin-left:8%;
    margin-top: 5%;
    width: 70%;
    
 }
 span{
    font-size: 25px;
    font-weight: bold;
 }
 
.cell2{
    background-color: white;
    box-shadow:0 0 2px 2px rgb(237, 213, 213);
}  
 .cell2 .cercle h1{
    color: rgb(214, 2, 2);
    text-align: center;
    background-color: rgb(225, 136, 136);
    border-radius: 80%;
    width:10%;
    height: 40%;
     
 }

 /* section chiffres */

#chiffres{
    background-color: rgb(214, 2, 2);
    width: 100%;
    margin-top: 5%;
}
.chiffres-center{
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}
.chiffres-h{
    color: rgb(214, 2, 2);
    text-align: center;
    margin-top: 4px;
    font-size: 30px;
}
.grid-3{
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    padding: 4%;
    font-size: 15px;
    color: white;
    width: 100%;
}
.cell3 span{
    font-size: 35px;
} 
 /* section equipe */
 #equipe{
 }
.equipe-hp{
    text-align: center;
    margin: 1%;
}


.eqp-p{
    margin-left: 24%;
    text-align: center;
    width: 50%;
}
.equipe-hp h1{
    margin: 2%;
    color: rgb(214, 2, 2);
    font-size: 40px;
}
.grid4{
    display: grid;
    grid-template-columns: repeat(3, 400px);
    gap: 60px;
    justify-content: center;
    margin-left: 8%;
    margin-top: 10%;
}
.equipe{
    box-shadow: 0px 0px 6px rgb(229, 219, 219);
    height: 100%;
    width: 80%; 
    margin-bottom: 40px;  
}

.equipe img{
    width: 50%;
    border-radius: 50%;
}

.status{
    
    color: rgb(214, 2, 2);
}
.social{
    display: flex;
    width: 60px;
    margin-left: 30%;
    margin-top: 20%;
       
}
.social img{
    justify-content: center;
    text-align: center;
    width: 45px;
}
/* section recrutement */
#recrutement{
    margin: 10%;
}
.title-6 h2 {
    text-align: center;
    color: rgb(214, 2, 2);
    font-size: 40px;
    margin: 3%;
}
.pic-phg{
    display: flex;
    justify-content: space-evenly;
    
}
.div-img img{
    width: 700px;
}
.pourquoi{
    width: 100%;
    padding: 5%;
    margin-left: 50px;
}
.pourquoi h1{
    color: rgb(214, 2, 2);
    margin-bottom: 10%;
}
.pourquoi p{
    width: 340px;
}


/* section offre */
.offres{
    margin-bottom: 50%;
}
.offer-cnt{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.backrnd{
    justify-content: space-evenly;
    background-color: rgb(255, 193, 212);
    width: 30%;
    padding: 4%;
    margin:0;
    border-radius: 10px;
}
.of{
    display: flex;
}
.petite-case{
    border: 1px solid white;
    height: 50%;
    width: 50%;
    border-radius: 20px;
    margin-top: 15%;
    background-color: #fff;
}

.last-bnt{
    width: 30%;
    padding: 3%;
    margin-left: 25%;
    margin-top: 5%;
    background-color: #cc0000;
    border-radius: 30px;
    color: #fff;
    border: none;

}
.of h1{
    color: #cc0000;

}
.of h1,h2{
    font-size: 20px;
}
.of p{
    font-size: 15px;

}
hr{
    margin: 10px;
    width: 100%;
}

#partenaires{
    width: 100%;
    margin: 5px;
    
}
.part-center{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;

}
.grid5{
    display: flex;
    justify-content: space-around;
    gap: 20%;
    margin: 15px;
    align-items: center;
    width: 80%;
    
}
.buld-up img{
    text-align: center;
    width:90%;
    margin-left: 8%;
    margin-top: 15%;
}

   /* height: 100%; */
  
.title-ptn{
    color: rgb(214, 2, 2);
    margin-top: 5%;
    font-size: 40px;
    text-align: center;
}
#last-one{
 background-color: black;
 margin-top: 10%;
}

.footer{
    display: flex;
    justify-content: space-evenly; 
    color: #fff;
    width: 80%;
    margin-left: auto;
    margin-right: auto; 

}
.footer-end{
    display: flex;
    justify-content: space-between;
    background-color: rgb(214, 2, 2);
    padding: 1%;
    color: #fff;
}
.last-log img{
    width: 30%;
    filter:brightness(0) invert(1);
}
.reseau-scl img{
    width: 40px;
}
.foot1,.foot2,.foot3 ,.foot4{
    /* margin: 20px; */
}
 
.foot2 h1,h2,p { 
    margin: 20px;   

}
.foot4{
    width: 200px ;
}

.left-form{
    width: 40%;
    height: 60%;
    border-style: none;
}
.input input{
    width: 67%;
    padding: 4px;
    border-radius: 5px;
    border-style: none;
    margin-left: 10%;
}
.input  button{
      padding: 16px;
      color: #fff;
      font-size: 15px;
      border-radius: 5px;
      border: none;
      background-color: rgb(214, 2, 2);
      width: 70px;
}
.left-form input[type="text"],input[type="email"],input[type="number"]{
    padding: 15px;
    width: 40%;
    margin: 10px;
    border-radius: 10px; 
    margin-right: 4%;

}
.left-form textarea{
    width: 85%;
    padding: 60px;
    margin-left: 2%;

}
.left-form input[type="submit"]{
    color: #ffffff;
    background-color: #cc0000;
    padding: 10px 30px;
    border-radius: 30px;
    border: none;
    margin-bottom: 10px;
    margin-top:10px ;
}
.milieu {
    display: flex;
    justify-content: center;
    margin-left: 40%;
}
.checkbox{
    
}